body {
    background-color: #cac8e2;
}

.main {
    background-color: #d9d8e9;
    min-height: 960px;
}

.nav-top {
    width: inherit;
    position: fixed;
    top: 0px;
    z-index: 99;
}

.nav-menu-li {
    min-height: 50px;
    float: left;
    margin: auto;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    color: #ffffff;
    background-color: #373277;
}

.nav-menu-li a {
    color: #ffffff;
}

.nav-content {
    position: relative;
    top: 50px;
}

.nav-content-main {
    position: relative;

}

.nav-content-right-side {
    position: relative;
    padding: 15px;
}

.nav-content-right-side span {
    position: relative;
    padding: 5px;
    color: #2117b3;
}

.nav-content-right-side a {
    font-size: 12px;
    padding: 8px;
    float: left;
}

.nav-content-right-side a:visited {
    float: left;
    color: gray;
}

.nav-footer {
    position: fixed;
    bottom: 1px;
    z-index: 99;
    width: inherit;
}